<div class="padding-15">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <pfng-list 
                     [actionHeadingTemplate]="actionHeadingTemplate"
                     [actionTemplate]="actionTemplate"
                     [config]="listConfig"
                     [expandTemplate]="expandTemplate"
                     [items]="accountList"
                     [itemTemplate]="itemTemplate"
                     [itemHeadingTemplate]="itemHeadingTemplate"
                     (onActionSelect)="handleAction($event, null)"
                     (onClick)="handleClick($event, null)"
                     (onSelectionChange)="handleSelectionChange($event)">
                    <ng-template #itemHeadingTemplate let-item="item">
                      <div class="list-pf-left">
                        <!-- Place holder to match fa-plane icon width below -->
                        <div class="icon-placeholder"></div>
                      </div>
                      <div class="list-pf-content-wrapper">
                        <div class="list-pf-main-content">
                          <div class="list-pf-title">ID</div>
                          <div class="list-pf-title">NAME</div>
                          <div class="list-pf-title">EMAIL</div>
                          <div class="list-pf-title">TYPE</div>
                          <div class="list-pf-title">USERNAME</div>
                        </div>
                      </div>
                    </ng-template>
            <ng-template #itemTemplate let-item="item" let-index="index">
              <div class="list-pf-content-wrapper">
                <div class="list-pf-main-content">
                  <div class="list-pf-title">{{item.id}}</div>
                  <div class="list-pf-title">{{item.name}}</div>
                  <div class="list-pf-title">{{item.email}}</div>
                  <div class="list-pf-title">{{item.type}}</div>
                  <div class="list-pf-title">{{item.username}}</div>
                </div>
                <!-- <div class="list-pf-additional-content">
                  <div>
                    <span class="pficon pficon-screen"></span>
                    <strong>{{item.hostCount}}</strong> Hosts
                  </div>
                  <div>
                    <span class="pficon pficon-cluster"></span>
                    <strong>{{item.clusterCount}}</strong> Clusters
                  </div>
                  <div>
                    <span class="pficon pficon-container-node"></span>
                    <strong>{{item.nodeCount}}</strong> Nodes
                  </div>
                  <div>
                    <span class="pficon pficon-image"></span>
                    <strong>{{item.imageCount}}</strong> Images
                  </div>
                </div> -->
              </div>
            </ng-template>
            <ng-template #actionHeadingTemplate let-item="item">
                <span class="margin-left-40">ACTIONS</span>
                <!-- Place holder to match action button width below -->
                <div class="actions-placeholder"></div>
              </ng-template>
            <ng-template #actionTemplate let-item="item" let-index="index">
              <pfng-action class="list-pf-actions"
                           [config]="actionConfig"
                           (onActionSelect)="handleAction($event, item)">
              </pfng-action>
            </ng-template>
            <ng-template #expandTemplate let-item="item" let-index="index">
                <!-- <basic-content [item]="itbem"></basic-content> -->
                <input type="text" value="{{item.name}}">
                <input type="text" value="{{item.email}}">
                <input type="text" value="{{item.type}}">
                <input type="text" value="{{item.username}}">
              <pfng-action class="list-pf-actions"
                           [config]="actionConfig1"
                           (onActionSelect)="editAccount(item)">
              </pfng-action>
              <button (click)="editAccount(item)">edit</button>

            </ng-template>
          </pfng-list>
          <pfng-pagination [config]="paginationConfig"
                           (onPageNumberChange)="handlePageNumber($event)"
                           (onPageSizeChange)="handlePageSize($event)"></pfng-pagination>
        </div>
      </div>
    </div>
  </div>